body {
    font-family: 'Oswald', sans-serif;
}


nav {
    border-bottom: 1px solid lightgray;
    background-image: linear-gradient(to left, grey, lightgray, white);
}

.album-banner {
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(40, 148, 72, 0.637), rgb(64, 158, 35), rgb(190, 163, 6));
}

.join-form {
    border-radius: 10px;
}

.lower-links {
    border: gray solid 1px;
    padding-bottom: 0;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom left, lightgray, white);
}

.about-img {
    border-radius: 100px;
}

.album-gallery {
    box-shadow: black (1px, 1px, 1px);
}

.contact-headers {
    text-decoration: underline;
    font: 18px bold;
}

.tour-dates {
    border: black solid 1px;
}